body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    text-decoration: none;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background: #C0C0C0;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: DodgerBlue;
}

a:active {
    text-decoration: underline;
    text-decoration-color: DodgerBlue;
}

a:visited {
    color: black;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    text-decoration: none;
    color: white;
    font-size: 40px;
    display: block;
    padding: 20px;
    margin-bottom: 0px;
    background: DodgerBlue;
}

#create-twit-button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    display: inline-block;
    font-size: 35px;
    margin: 6px, 3px;
    border-radius: 50%;
    bottom: 5%;
    right: 2%;
}

li.active a {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 5px solid DodgerBlue;
    text-decoration-color: DodgerBlue;
}

ul {
    background-color: white;
    list-style-type: none;
    margin-top: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
    overflow: hidden;
}

ul li {
    float: left;
    margin-bottom: 0px;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 0px;
    font-size: 25px;
    margin-bottom: 0px;
}

li a:hover {
    color: DodgerBlue;
    cursor: pointer;
}

#create-twit-button:hover {
    background-color: DodgerBlue;
    padding: 18px;
}

#navbar-search-input {
    background: #C0C0C0;
    font-size: 20px;
}

.navbar .navbar-search {
    float: right;
}

#navbar-search-input:focus {
    background: white;
    border: 1px solid black;
}

#navbar-search-button {
    background: none;
    border: none;
    font-size: 20px;
}

#navbar-search-button:hover {
    color: deepskyblue;
    cursor: pointer;
}

.twit-container {
    margin-left: 100px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    background: #C0C0C0;
    height: 100vh
}

.twit {
    background: white;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
    margin: 15px;
    font-size: 20px;
    border: 1px solid black;
    width: 28%;
    height: 150px;
}

.twit-icon {
    margin-top: 15px;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 20px;
}

.twit-content {
    padding-top: 15px;
    width: 400px;
}

.twit-content .twit-author {
    font-weight: bold;
    text-align: right;
}
